.env
nginx-docker-deployment/.env

# RAILS API
test-apps/rails-api/.bundle
# Ignore the default SQLite database.
test-apps/rails-api/db/*.sqlite3
test-apps/rails-api/db/*.sqlite3-journal
test-apps/rails-api/db/*.sqlite3-*
# Ignore all logfiles and tempfiles.
test-apps/rails-api/log/*
test-apps/rails-api/tmp/*
# Ignore pidfiles, but keep the directory.
test-apps/rails-api/tmp/pids/*
# Ignore uploaded files in development.
test-apps/rails-api/storage/*
test-apps/rails-api/.byebug_history
# Ignore master key for decrypting credentials and more.
test-apps/rails-api/config/master.key
test-apps/rails-api/.gitignore

# REACT App
test-apps/react-typescript-router/node_modules
test-apps/react-typescript-router/.pnp
test-apps/react-typescript-router/.pnp.js

# testing
test-apps/react-typescript-router/coverage

# production
test-apps/react-typescript-router/build

# misc
test-apps/react-typescript-router/.DS_Store
test-apps/react-typescript-router/.env.local
test-apps/react-typescript-router/.env.development.local
test-apps/react-typescript-router/.env.test.local
test-apps/react-typescript-router/.env.production.local

test-apps/react-typescript-router/npm-debug.log*
test-apps/react-typescript-router/yarn-debug.log*
test-apps/react-typescript-router/yarn-error.log*
test-apps/react-typescript-router/.eslintcache

# Api 
test-apps/react-typescript-router/test_api/.bundle

# Ignore the default SQLite database.
test-apps/react-typescript-router/test_api/db/*.sqlite3
test-apps/react-typescript-router/test_api/db/*.sqlite3-journal
test-apps/react-typescript-router/test_api/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
test-apps/react-typescript-router/log/*
test-apps/react-typescript-router/tmp/*

# Ignore pidfiles, but keep the directory.
test-apps/react-typescript-router/test_api/tmp/pids/*
test-apps/react-typescript-router/test_api/!/tmp/pids/
test-apps/react-typescript-router/test_api/!/tmp/pids/.keep

# Ignore uploaded files in development.
test-apps/react-typescript-router/test_api/storage
test-apps/react-typescript-router/test_api/storage/.keep
test-apps/react-typescript-router/test_api/.byebug_history

# Ignore master key for decrypting credentials and more.
test-apps/react-typescript-router/test_api/config/master.key
test-apps/react-typescript-router/test_api/.gitignore